/* Variables globales */
:root {
  --font-family:  'Avenir', 'Helvetica', 'Arial', sans-serif;
  --bg-color: #f4f4f9;
  --primary-color: #ffffff;
  --secondary-color: #1b3f84;
  --third-color: #a5dcf9;
  --text-color: #333;
  --card-bg-color: #ffffff;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  --border-radius: 10px;
  --transition: 0.3s ease-in-out;
  --font-size-heading: 1.8rem;
  --font-size-subheading: 1.2rem;
  --font-size-body: 1rem;
  --font-size-small: 0.9rem;
}

/* Estilos globales */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color var(--transition);
}

a:hover {
  color: var(--secondary-color);
}

/* App Container */
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

/* Header */
.header {
  background-color: var(--third-color);
  color: white;
  padding: 20px;
  font-size: var(--font-size-heading);
  font-weight: bold;
  text-align: center;
}




/* Responsive Design */
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

