/* Header.css */
/* Header.css */
header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a izquierda y derecha */
  align-items: center; /* Centra verticalmente los elementos */
  max-width: 100%; /* Asegura que el header ocupe todo el ancho disponible */
}

.logo-left {
  width: 260px; /* Ajusta el tamaño del logo izquierdo */
  height: auto;
  object-fit: contain; /* Asegura que el logo se ajuste sin distorsionarse */
  margin-right: 30px; /* Añade margen a la derecha del logo izquierdo */
}

.logo-right {
  width: 260px; /* Ajusta el tamaño del logo derecho */
  height: auto;
  object-fit: contain; /* Asegura que el logo se ajuste sin distorsionarse */
}

.header-content {
  text-align: center;
  flex-grow: 1; /* Hace que el contenido ocupe el espacio central */
}

.title {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold; /* Hace que el título sea más prominente */
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #61dafb;
  font-weight: 300; /* Menos pesado que el título */
}

@media (max-width: 768px) {
  /* Responsividad para pantallas pequeñas */
  header {
    flex-direction: column; /* Los elementos se apilan verticalmente en pantallas pequeñas */
    align-items: center;
  }
  .logo-left,
  .logo-right {
    width: 40px; /* Ajustar el tamaño de los logos en pantallas pequeñas */
  }
  .header-content {
    margin-top: 15px; /* Añadir un pequeño espacio entre los logos y el contenido */
  }
}
